@font-face {
  font-family: bubbles;
  src: url(./components/fonts/Game-Bubble.ttf);
}


html {
  background: linear-gradient(45deg, rgba(75, 4, 75, 1) 0%, rgba(186, 76, 186, 1) 50%, rgba(26, 18, 181, 1) 100%);
  color: #fff;
}

.App-header {
  background-color: rgb(75, 4, 75, 0.8);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#boxGrid {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

#results , #playlist {
  background-color: rgb(75, 4, 75, 0.9);
  padding: 15px;
  min-height: 100vh;
  border-radius: 10px;
}

.playlist {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.playlist:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.userPlaylistsContainer {
  margin: 20px;
  background-color: rgb(75, 4, 75, 0.9);
  padding: 20px;
  border-radius: 10px;
  columns: 250px 3;
}

h2 {
  font-weight: bold;
  font-size: 50;
  text-align: center;
}

h1 {
  font-family: bubbles;
  margin-bottom: 8vh;
  font-size: 3em;
  font-weight: 300;
}

h1 .purpleM {
  color: #d439d4;
}

.track {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  height: 60px;
  overflow: hidden;
}

.inline {
  width: 100%;
  display: flex;
  gap: 10px;
}

.track img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.track h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.track p {
  color: rgb(255, 255, 255, 0.9);
  font-size: 13px;
  margin: 0;
}

.track .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.track .button p {
  font-size: 20px;
  vertical-align: middle;
  font-weight: bolder;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

.searchBar {
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    background: #fff;
}

/* BUTTONS save to spoty and Search*/

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.startNewPlaylist {
  background-color: #ce952c;
}

.logIn-container {
  display: flex;
  justify-content: center;
}

#logIn {
  width: fit-content;
}

.playlists img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #boxGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}